.content {
  position: relative;
  display:flex;
  flex-direction: row;
  align-items: center;
}
.inner-content {
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$red: #E1332D;
$white: #fff;

//base styles

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.prediction-table {
  color: white;
  padding: 2em;
  text-align: left;
}
